-var deputies = locals.deputies
-var coordDict = locals.dict 

.chamber-arch
  -var counter=0
  each _, i in Array(120)
    -var d = deputies[i];
    .deputy.deputy-arch(class="#{d.partido}" data-index="#{i}" style="left: #{dict[i].left}; top: #{dict[i].top}" title="#{d.nombre || ''}")

#info-window.modal.fade(role="dialog" tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal") &times
        p PERFIL DEL DIPUTADO
      .modal-body
        .avatar
          img
        .header-info
          p.header Nombre: 
          p.name
          p.header Partido: 
          p.party
        
        table.info-table
          tr
            td
              p PERÍODOS
              p.value.periods 2014-2018
            td
              p REGIÓN
              p.value.region
            td
              p DISTRITO
              p.value.district
        p.vote-info Votos:
        .votation
        
          //table_votes.jade will be added here
      .modal-footer
         button.btn.btn-default(type="button" data-dismiss="modal") Cerrar
